<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ projectname }}</title>
</head>
<body>

    <!-- Browsers with ES module support load this file. -->
    <script type="module" src="app.js"></script>

    <!-- Older browsers load this file (and module-supporting -->
    <!-- browsers know *not* to load this file). -->
    <script nomodule src="app-legacy.js"></script> 
</body>
</html>